<style>
    a { text-decoration: none; color: #FFF; cursor: pointer;} .message-content {
    font-family: Arial, Helvetica, sans-serif; width: 100%; font-size: 18px;
    line-height: 24px; text-align: center; } .reset-password-button { height:
    40px; border-radius: 6px; background-color: rgb(4, 85, 207); color: #FFF;
    transition: all .3s ease; padding: 2px 10px; border: 2px solid #76adff; }
    .reset-password-button:hover { background-color: rgb(14, 76, 170); }
</style>

<div class='message-content'>
    <p>Olá, {{name}}!</p>
    <br />
    <p>Recebemos um pedido de redefinição de senha para sua conta de usuário.</p>
    <p>Se realmente foi você, clique no botão abaixo para escolher uma nova
        senha.</p>
    <a href='{{link}}'>
        <button class='reset-password-button'>
            Resetar minha senha
        </button>
    </a>
    <p>Caso você não tenha realizado esta solicitação, ignore este email.</p>
    <br />
    <p>Obrigado!</p>
    <p>Equipe SALES API</p>
</div>
